/* Basic editor styles */
.tiptap {

  :first-child {
    margin-top: 0;
  }

  /* Unordered List (ul) Styling */
  ul {
    list-style-type: disc; // Disc bullets
    margin-left: 1.5rem; // Indent list
    padding-left: 0; // Remove padding

    li {
      margin-bottom: 8px; // Space between list items
    }
  }

  /* Ordered List (ol) Styling */
  ol {
    list-style-type: decimal; // Numbered list
    margin-left: 1.5rem; // Indent list
    padding-left: 0; // Remove padding

    li {
      margin-bottom: 8px; // Space between list items

      &::marker {
        font-size: 1.2rem; // Make the list number slightly bigger
      }
    }
  }

  /* Paragraph (p) Styling */
  p {
    margin-bottom: 16px; // Add space below each paragraph
    line-height: 1.6; // Make text more readable
  }

  /* Heading (h2) Styling */
  h2 {
    font-size: 1.5rem; // Slightly larger text size
    margin-bottom: 12px; // Space below heading
    font-weight: 600; // Bold text
    border-bottom: 2px solid #d1d5db; // Subtle bottom border
    padding-bottom: 4px; // Add some padding under heading
  }

  img {
    display: block;
    height: auto;
    margin: 1.5rem 0;
    max-width: 100%;

    &.ProseMirror-selectednode {
      outline: 3px solid var(--purple);
    }
  }
}

.editor-wrapper {
  position: relative;

  &.dragging::after {
    content: 'Drop image here';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    pointer-events: none;
  }
}

.ProseMirror {
  min-height: 20rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;

  &:focus {
    outline: none;
  }
}

.editor-wrapper .ProseMirror {
  padding: 1rem;
  /* Ensure the text behaves as intended with proper margins */
}

.editor-wrapper {
  overflow-y: auto;
}

ul,
ol,
h1,
h2,
pre,
blockquote {
  margin: 1.5rem 0;
}
